# 퀴즈 사용법
- 노트북 파일을 쭉 내려보면 *"Q."* 라고 써 있는 글이 문제입니다!
- 문제를 쭉 읽어보고, 문제 하단의 *"예상 출력"* 이라고 써 있는 것처럼 출력시켜주세요!
- 문제 블록을 클릭하고, +버튼을 눌러 새로운 블럭을 생성하고, 아래에 퀴즈를 풀어보세요!

In [11]:
# 변수
'''
1. 변수 선언
2. 변수 출력
2. 변수 연산
3. 변수 재할당
'''

'\n1. 변수 선언\n2. 변수 출력\n2. 변수 연산\n3. 변수 재할당\n'

### Q. 변수 선언
- 세 사람 A, B, C가 있다. 
- A, B, C의 나이가 각각 20, 30, 40 이라고 할 때, 
- 각 나이 값을 a, b, c로 저장하고 출력하시오  
---
예상 출력 : 20, 30, 40

# Q. 변수 재할당
- 숫자 값 99를 담는 변수 num을 만들어주세요
- num 값에 1을 뺀 값을 다시 변수 num에 담아주세요
- num 값을 출력하세요
---
예상 출력 : 98

In [9]:
# 숫자 자료형
'''
1. 숫자 자료형 선언과 출력(값, 타입)
2. 숫자 자료형 연산
3. 숫자 자료형 타입
4. 문자 -> 숫자 자료형 변환
'''

'\n1. 숫자 자료형 선언과 출력(값, 타입)\n2. 숫자 자료형 연산\n3. 숫자 자료형 타입\n4. 문자 -> 숫자 자료형 변환\n'

### Q. 숫자 자료형 선언과 출력
- 숫자 값 10이 들어간 변수 num1을 만들어주세요
- num1의 값과 자료형을 출력해주세요
---
예상 출력 : 10  <class : 'int'>

### Q. 숫자 자료형의 연산
- 숫자 값 10, 3이 들어간 변수 num1, num2를 만들어주세요
- num1과 num2를 더한 값을 출력해주세요
- num1과 num2를 뺀 값을 출력해주세요
- num1과 num2를 곱한 값을 출력해주세요
- num1과 num2를 나눈 값을 출력해주세요
---
예상 출력 :   
- 13
- 7
- 30
- 3.3333

### Q. 문자 -> 숫자 자료형 변환
- 문자 5를 담은 변수 num1을 만들어주세요
- int()를 사용하여 num1을 숫자로 변환해주세요
- 변수 num1의 값과 타입을 출력해주세요
---
예상 출력 : 5 <class : 'int'>

In [17]:
# 참/거짓 자료형
'''
1. 참/거짓 자료형 선언과 출력(값, 타입)
2. 조건으로 참 거짓 값 출력과 변수로 할당하기
3. 비교연산자 사용하기
'''

'\n1. 참/거짓 자료형 선언과 출력(값, 타입)\n2. 조건으로 참 거짓 값 출력과 변수로 할당하기\n3. 비교연산자 사용하기\n'

### Q. 참/거짓 자료형 선언과 출력
- True, False 값을 변수로 선언해주세요
- 변수의 값과 타입을 함께 출력해주세요
---
예상 출력 : 
True <class : bool>
False <class : bool>

### Q. 조건으로 참 거짓 값 출력과 변수로 할당하기
- 안경알은 두 개인가? 를 주제로 참/거짓을 구분하자
- 안경알의 갯수를 담는 변수 glasses를 생성하고 2의 값을 넣어주세요
- 변수 glasses, 숫자 2, 같다는 조건을 사용하는 비교연산자 ==를 사용해 조건을 만들어주세요
- 위를 바탕으로 안경알이 두 개라는 조건을 변수에 담아서 값과 타입을 출력해주세요
---
예상 출력 : True <class : 'bool'>

In [8]:
# 문자 자료형
'''
1. 문자 자료형 선언과 출력(값, 타입)
2. 문자 자료형 연결
3. 문자 자료형과 숫자 자료형의 연산
4. 숫자 -> 문자 자료형 변환
5. 문자의 길이 확인하기
6. 문자 인덱싱하기
7. 문자 슬라이싱하기
8. 문자 스플릿하기
'''

'\n1. 문자 자료형 선언과 출력\n2. 문자 자료형 연결\n3. 문자 자료형과 숫자 자료형의 연산\n4. 숫자 -> 문자 자료형 변환\n5. 문자의 길이 확인하기\n6. 문자 인덱싱하기\n7. 문자 슬라이싱하기\n8. 문자 스플릿하기\n'

### Q. 문자 자료형의 선언
- 문자 값이 들어간 변수 char를 만들고 문자 값을 넣어보세요
- 변수 char의 값과 타입을 출력해보세요
---
예상 출력 : 안녕하세요 <class : 'str'>

### Q. 문자 자료형의 연결
- 문자 값 "손목", "시계"를 각각 나누어 변수 str1, str2 에 담아주세요
- 두 변수 str1과 str2를 각각 더한 값을 새로운 변수 result로 담아주세요
- result의 값과 타입을 출력해주세요
---
예상 출력 : 손목시계 <class : 'str'>

### Q. 문자열 연산
- 문자열 값 "대한", "민국", "만세" 를 각각 세 개의 변수로 따로 담는다.
- 세 개의 변수와 임의의 숫자 값을 활용해 아래와 같은 값을 출력하시오
- 대한민국만세만세만세
---
예상 출력 : 대한민국만세만세만세

### Q. 숫자 -> 문자 자료형 변환
- 숫자 값 55가 담긴 변수  num을 만들어주세요
- num을 str()을 사용하여 문자열로 변환해주세요
- 변환된 num의 값과 타입을 출력해주세요
---
예상 출력 : 55 <class : 'str'>

### Q. 문자 인덱싱
- 문자 값 "안녕하세요!" 를 변수 greeting에 담아주세요
- 인덱싱을 사용하여 greeting의 2번째(컴퓨터숫자) 값을 출력하세요
- 인덱싱을 사용하여 greeting의 마지막 값을 출력하세요
---
예상 출력:  
- 하  
- !

### Q. 문자 슬라이싱
- 문자 값 "윙가르디움 레비오우사" 를 변수 spell에 담아주세요
- 슬라이싱을 사용하여 윙가르디움을 출력해주세요
- 슬라이싱을 사용하여 레비오우사를 사용해주세요
---
예상 출력 : 
- 윙가르디움
- 레비오우사

### Q. 문자 스플릿
- 전화번호 +82)10-1234-5678 을 담아 변수 phone으로 저장하세요
- phone에서 스플릿을 사용하여 )를 기준으로 나눈 목록을 split_list로 저장하세요
- split_list에서 국가코드 +82 를 출력해주세요
---
예상 출력 : +82

In [18]:
# 리스트 자료형
'''
1. 리스트 자료형 선언과 출력(값, 타입)
2. 리스트 자료형 인덱싱
3. 리스트 자료형 슬라이싱
4. 리스트 자료형 값 추가하기
5. 리스트 자료형 값 정렬하기
'''

'\n1. 리스트 자료형 선언과 출력(값, 타입)\n2. 리스트 자료형 인덱싱\n3. 리스트 자료형 슬라이싱\n4. 리스트 자료형 값 추가하기\n5. 리스트 자료형 값 정렬하기\n'

### Q. 리스트 자료형 선언과 출력
- 1부터 10까지의 숫자를 리스트로 담아 num_list에 저장해주세요
- num_list의 값과 타입을 출력해주세요
---
예상 출력 : [1,2,3,4,5,6,7,8,9,10] <class : 'list'>

### Q. 리스트 자료형 인덱싱
- num_list의 3번째 값을 출력해주세요
---
예상 출력 : 4

### Q. 리스트 자료형 슬라이싱
- num_list의 시작부터 5개의 목록으로 슬라이싱하여 출력해주세요
- num_list의 7번째부터 끝까지 슬라이싱하여 출력해주세요
---
예상 출력 : 
- [1,2,3,4,5]
- [8,9,10]

### Q. 리스트 자료형 값 추가하기
- num_list에 11,12,13을 한 번씩 각각 추가해주세요
- num_list를 출력해주세요
---
예상 출력 : 
[1,2,3,4,5,6,7,8,9,10,11,12,13]

### Q. 리스트 자료형 값 정렬하기
- [1,5,3,8] 값이 담긴 리스트 num_list를 새로 만들어주세요
- sort()를 사용하여 num_list를 정렬해주세요
- num_list를 출력해주세요
---
예상 출력 : [1,3,5,8]

In [24]:
# 딕셔너리 자료형
'''
1. 딕셔너리 자료형 선언과 출력(값, 타입)
2. 딕셔너리 자료형 인덱싱
3. 딕셔너리 데이터를 변수로 선언하기
4. 딕셔너리 데이터의 밸류 변경하기
'''

'\n1. 딕셔너리 자료형 선언과 출력(값, 타입)\n2. 딕셔너리 자료형 인덱싱\n3. 딕셔너리 데이터를 변수로 선언하기\n4. 딕셔너리 데이터의 밸류 변경하기\n'

### Q. 딕셔너리 자료형 선언과 출력
- 다음은 산타가 아이에게 줄 선물의 정보를 기입한 딕셔너리이다.
- 딕셔너리 gift에 아이의 이름 child, 아이의 나이 age를 선언하여 만들어주세요
- gift의 값과 타입을 출력해주세요
---
예상 출력 : {"child" : "john", "age" : 10}

### Q. 딕셔너리 자료형 인덱싱
- 산타가 아이에게 줄 정보를 까먹었다.
- 딕셔너리 gift에서 아이의 이름을 출력해주세요
- 딕셔너리 gift에서 아이의 나이를 출력해주세요
---
예상 출력:
- john
- 10

### Q. 딕셔너리 데이터를 변수로 선언하기
- 사실 아이의 이름을 다른 곳에 사용하기 위해서 변수를 담아야 한다
- child_name 이라는 변수에 딕셔너리 gift에서 아이의 이름을 가져와 만들어주세요
- child_name을 출력해주세요
---
예상 출력 : john

### Q. 딕셔너리 데이터의 밸류 변경하기
- 아뿔싸! 아이의 이름은 john이 아니라 josh였다..
- 딕셔너리 gift에서 아이의 이름 값을 가져와 josh로 재할당 해주세요
- 딕셔너리 gift를 출력해주세요
---
예상 출력 : {"child" : "josh", "age" : 10}

### Q. 딕셔너리 데이터의 새로운 키-밸류 추가하기
- 아이코! 아이가 원하는 선물을 기입하는 것을 잊었다.
- 딕셔너리 gift에서 아이가 원하는 선물 "닌텐도 스위치"를 키 "wish"에 담습니다
- 딕셔너리 gift를 출력해주세요
---
예상 출력 : {"child" : "josh", "age" : 10, "wish" : "닌텐도 스위치"}